h1 {
  color: white;
  font-family: 'Lexend Deca', sans-serif;
  text-align: center
}
form{
  font-family: 'Lexend Deca', sans-serif;
  color: #265857;
  text-align: center;
}
input{
  width: 180px;
  padding: 12px 20px;
  margin: 10px 0;
  border-radius: 4px;
}
.login_but .login_but  {
  margin-left: auto;
  margin-right: auto;
  display:flex;
  background-color: #238639;
  justify-content:center;
  margin-top: 25px;
  width: 200px;
  height: 40px;
  border: 4px;
}
.login_but input  {
  color: white;
  font-family: 'Lexend Deca', sans-serif;
  font-weight: ;
}
input::placeholder {
	font-weight: bold;
	opacity: 0.5;
	color: #7FA49C;
}
body {
	background-color: #010409;
}
.bg{
	background-color: #161c23;
	padding: 16px;
	width: 300px;
	height: 200px;
	border-radius: 4px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 200px;

	justify-content:center;
}